@props(title, subtitle?, items)

<template:Card title subtitle="Default">
  <div class="card">
    <h2>$title</h2>
    @if(subtitle) {
      <p class="subtitle">${subtitle}</p>
    }
    <slot />
  </div>
</template:Card>

<Card title=$title>
  Items: ${concat(items[*].name)}
  First Item: ${concat(items[0].name)}
  @for(item, index of items) {
    <li>${index + 1}. $item.name</li>
  }
</Card>
